/* ---- reset ---- */

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }  